html {
  scroll-behavior: smooth;
}

body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

#navigation {
	background-color: $mainRed;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}

#navigation .nav-item {
	padding: 0 10px;
}

#navigation .nav-link {
	color: #fff;
	font-weight: 600;
	font-size: 17px;
}

#navigation .nav-item:hover {
	background-color: #ff3939;
	border-radius: 5%;
}

/*#navigation .active {
	background-color: #ff3939;
}*/


#navigation .fa, #navigation .fa:hover {
	transform: scale(1.25, 1.25);
	text-decoration: none;
}

.navbar-toggler-icon {
	background: url(./img/icons/menu.png);
	background-size: 100%;
}

/*.navbar-toggler-icon:focus {
	outline: none;
	text-decoration: none;
}*/

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #fff;
	top: 0px;
	left: 0px;
	z-index: 1000;

	&--inner {
		width: 100%;
		height: 100%;
		background: url(./img/loader.gif) center center no-repeat;
	}
}