.portfolio-section {

	&__heading {
		text-align: center;
	}

	.card {
		background: $mainRed;
		border: 2px solid $mainRed;
		color: #fff;
		margin-bottom: 2rem;
	}

	.card-img {
		overflow: hidden;
	}

	.card-img img {
		transition: all 1.5s ease;
	}

	.card-img:hover img {
		transform: scale(1.25);
	}

	.card-btn {
		text-decoration: none;
		transition: all .4s ease;
	}
	
	.card-btn:hover, .card-btn:focus {
		box-shadow: #222 1px 0 10px;
	}

}