.project-section {

	&__heading {
		text-align: center;
	}

	&__card {
		background-color: $mainRed;
		border: 2px solid $mainRed;
		color: #fff;
		margin-bottom: 2rem;
	}

	&__card-img {
		overflow: hidden;
	}

	&__card-img img {
		transition: all 1.5s ease;
	}

	&__card-img:hover img {
		transform: scale(1.25);
	}

	&__card-btn {
		color: #fff;
		padding: 1em;
		border-radius: .95em;
		transition: all .4s ease;
	}
	
	&__card-btn:hover, .card-btn:focus {
		background-color: #fff;
		color: $mainRed;
		text-decoration: none;
	}

}