.skill-section {
	background-color: $mainRed;
	color: #fff;

	&__pie-chart {
		text-align: center;
		margin-left: 10px;
	}

	&__chart {
		position: relative;
		width: 152px;
		height: 152px;
		display: inline-block;
		text-align: center;
	}

	/*&__canvas {
		position: absolute;
		left: 0;
		top: 0;
	}*/

	&__percent {
		color: $mainGrey;
		line-height: 152px;
		display: inline-block;
		font-size: 35px;
	}

	&__percent:after {
		content: '%';
	}
}

.skill-section__chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}